harvest-flows/crossref-flow-w-subflow.json
[{"id":"627ba918.fbd268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"309b2243.de97fe","type":"tab","label":"wos-harvest-mapping-flow","disabled":false,"info":""},{"id":"db381df.6836be","type":"subflow","name":"Get Items Http","info":"","in":[{"x":500,"y":600,"wires":[{"id":"f8b39638.612fa8"}]}],"out":[{"x":240,"y":780,"wires":[{"id":"1fdb807b.4e808","port":0}]}]},{"id":"1075d2f9.a8c68d","type":"subflow","name":"Get Items CSV","info":"","in":[{"x":200,"y":200,"wires":[{"id":"e36a0c0c.f4152"}]}],"out":[{"x":700,"y":240,"wires":[{"id":"4eabc242.b3709c","port":0}]}],"inputLabels":["CSV File Name"]},{"id":"3b8faccd.a280b4","type":"subflow","name":"Set Mapping Config","info":"","in":[{"x":100,"y":80,"wires":[{"id":"37bf0d49.8a0eb2"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"5cc73587.e6da6c","port":0}]}]},{"id":"f4811132.b4e7b","type":"http request","z":"db381df.6836be","name":"Send Request to Harvest Records","method":"GET","ret":"obj","url":"","tls":"","x":500,"y":700,"wires":[["1fdb807b.4e808"]]},{"id":"6f4e8a2b.50a194","type":"change","z":"db381df.6836be","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"config.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":700,"wires":[["f4811132.b4e7b"]]},{"id":"1fdb807b.4e808","type":"function","z":"db381df.6836be","name":"Select Items","func":"items = msg.payload.message.items;\nmsg.payload = items;\nmsg.config = flow.get(\"config\");\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[[]]},{"id":"b0d5e018.1747f","type":"inject","z":"627ba918.fbd268","name":"","topic":"","payload":"CrossRef Harvest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["90f48300.8f93b"]]},{"id":"90f48300.8f93b","type":"file in","z":"627ba918.fbd268","name":"crossref-workMapping.yaml","filename":"projects/share-red-flows/harvest-flows/crossref-workMapping.yaml","format":"utf8","chunk":false,"sendError":false,"x":400,"y":600,"wires":[["a2cbe7e5.a92ae8"]]},{"id":"f8b39638.612fa8","type":"yaml","z":"db381df.6836be","property":"payload","name":"mappingFile","x":650,"y":600,"wires":[["7ff78a54.bfb394"]]},{"id":"7ff78a54.bfb394","type":"function","z":"db381df.6836be","name":"SetMappingConfig","func":"msg.config = msg.payload;\nflow.set(\"config\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":600,"wires":[["6f4e8a2b.50a194"]]},{"id":"9c027bd7.a3b2f8","type":"function","z":"627ba918.fbd268","name":"GetCreators","func":"\nconfig = msg.config;\nshareMapping = config.shareMapping;\n\n\nin_work = msg.payload;\nout_work = {};\nout_work.creators = [];\nvar given = shareMapping.givenName;\nvar family = shareMapping.familyName;\n//need to add logic to handle more than one split\nvar givenPropArr = given ? given.split(\".\") : [];\nvar familyPropArr = family ? family.split(\".\") : [];\nif (givenPropArr.length>0){\n    in_creators = in_work[givenPropArr[0]];\n    if (in_creators){\n        for (var i = 0; i < in_creators.length; i++){\n            in_creator = in_creators[i];\n            creator = {};\n            creator.givenName = in_creator[givenPropArr[1]];\n            creator.familyName = in_creator[familyPropArr[1]];\n            out_work.creators.push(creator);\n        \n        }\n    }\n}\n\nmsg.payload = out_work;\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["1e6d1c31.1e6cf4"]]},{"id":"63024f88.0bce6","type":"function","z":"627ba918.fbd268","name":"GetTitles","func":"\nconfig = msg.config;\nshareMapping = config.shareMapping;\n\nin_work = msg.payload;\nout_work = {};\nout_work.titles = [];\n\nvar titleProp = shareMapping.title;\n//need to add logic to handle more than one split\n//var titlePropArr = titleProp.split(\".\");\n//if (titlePropArr.length>0){\n    in_titles = in_work[titleProp];\n    //need to handle if not an array\n    if (in_titles){\n        for (var i = 0; i < in_titles.length; i++){\n            in_title = in_titles[i];\n            title = {};\n            title = in_title;\n            out_work.titles.push(title);\n        }\n    }\n//}\n\nmsg.payload = out_work;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":900,"wires":[["269eb26b.f6f0ae"]]},{"id":"f8ae5763.309b88","type":"wait-paths","z":"627ba918.fbd268","name":"","paths":"[\"in_work\",\"creators\",\"titles\"]","timeout":15000,"finalTimeout":60000,"x":790,"y":800,"wires":[["6b650d75.ad6a54"]]},{"id":"1e6d1c31.1e6cf4","type":"change","z":"627ba918.fbd268","name":"","rules":[{"t":"set","p":"paths[\"creators\"]","pt":"msg","to":"payload.creators","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":840,"wires":[["f8ae5763.309b88"]]},{"id":"269eb26b.f6f0ae","type":"change","z":"627ba918.fbd268","name":"","rules":[{"t":"set","p":"paths[\"titles\"]","pt":"msg","to":"payload.titles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":900,"wires":[["f8ae5763.309b88"]]},{"id":"cdb9c429.6e4b28","type":"debug","z":"627ba918.fbd268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":880,"wires":[]},{"id":"280ee349.02119c","type":"change","z":"627ba918.fbd268","name":"Get Paths","rules":[{"t":"set","p":"payload","pt":"msg","to":"paths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":880,"wires":[["cdb9c429.6e4b28"]]},{"id":"6b650d75.ad6a54","type":"change","z":"627ba918.fbd268","name":"","rules":[{"t":"set","p":"in_work","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":800,"wires":[["280ee349.02119c"]]},{"id":"e23181ef.db8aa","type":"change","z":"627ba918.fbd268","name":"","rules":[{"t":"set","p":"paths[\"in_work\"]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":780,"wires":[["f8ae5763.309b88"]]},{"id":"a2cbe7e5.a92ae8","type":"subflow:db381df.6836be","z":"627ba918.fbd268","name":"","x":380,"y":680,"wires":[["deb76076.7c745"]]},{"id":"deb76076.7c745","type":"splitter","z":"627ba918.fbd268","name":"","property":"payload","x":110,"y":780,"wires":[["e23181ef.db8aa","9c027bd7.a3b2f8","63024f88.0bce6"]]},{"id":"26ba5c1c.120274","type":"function","z":"309b2243.de97fe","name":"GetCreators","func":"\nconfig = msg.config;\nshareMapping = config.shareMapping;\n\nin_work = msg.payload;\nout_work = {};\nout_work.creators = [];\n\nvar creatorParam = shareMapping.creator;\n\n//need to add logic to handle more than one split\nvar creators = in_work[creatorParam];\nin_creatorsArr = creators ? creators.split(\";\") : [];\nif (in_creatorsArr.length>0){\n    for (var i = 0; i < in_creatorsArr.length; i++){\n            \n        in_creator = (in_creatorsArr[i] ? in_creatorsArr[i].split(\",\") : []);\n        \n        var creator = {};\n        creator.familyName = (in_creator[0] ? in_creator[0].trim() : \"\");\n        creator.givenName = (in_creator[1] ? in_creator[1].trim() : \"\");\n        out_work.creators.push(creator);\n    }\n}\n\nmsg.payload = out_work;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["eb883f13.f71c5"]]},{"id":"87dc157a.9813f8","type":"function","z":"309b2243.de97fe","name":"StraightPropertyMapping","func":"\nconfig = msg.config;\nshareMapping = config.shareMapping;\n\nin_work = msg.payload;\nin_work_prop = msg.in_work_prop;\nout_work_prop = msg.out_work_prop;\n\nif (in_work_prop && out_work_prop){\n    \n    out_work = {};\n    //straight mapping of properties\n    out_work[out_work_prop] = [];\n    out_work[out_work_prop].push(in_work[in_work_prop]);\n    \n    msg.payload[out_work_prop] = out_work[out_work_prop];\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["4296fac3.b058c4"]]},{"id":"e5c5650d.2e5808","type":"wait-paths","z":"309b2243.de97fe","name":"","paths":"[\"in_work\",\"creators\",\"titles\",\"resourceIdentifiers\"]","timeout":15000,"finalTimeout":60000,"x":950,"y":400,"wires":[["cdd8423c.5fb96"]]},{"id":"eb883f13.f71c5","type":"change","z":"309b2243.de97fe","name":"","rules":[{"t":"set","p":"paths[\"creators\"]","pt":"msg","to":"payload.creators","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["e5c5650d.2e5808"]]},{"id":"676d18d9.49fa28","type":"change","z":"309b2243.de97fe","name":"","rules":[{"t":"set","p":"paths[\"titles\"]","pt":"msg","to":"payload.titles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[["e5c5650d.2e5808"]]},{"id":"cf024e61.4cc2","type":"debug","z":"309b2243.de97fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":480,"wires":[]},{"id":"cdd8423c.5fb96","type":"change","z":"309b2243.de97fe","name":"Get Paths","rules":[{"t":"set","p":"payload","pt":"msg","to":"paths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":400,"wires":[["cf024e61.4cc2"]]},{"id":"153c9e89.07b641","type":"change","z":"309b2243.de97fe","name":"","rules":[{"t":"set","p":"paths[\"in_work\"]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["e5c5650d.2e5808"]]},{"id":"fc5aee7b.6d3f8","type":"inject","z":"309b2243.de97fe","name":"WoS data harvest","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["9c5573b6.f7e75"]]},{"id":"4eabc242.b3709c","type":"csv","z":"1075d2f9.a8c68d","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","x":570,"y":240,"wires":[[]]},{"id":"e36a0c0c.f4152","type":"file in","z":"1075d2f9.a8c68d","name":"WoS CSV File","filename":"","format":"utf8","chunk":false,"sendError":false,"x":380,"y":240,"wires":[["4eabc242.b3709c"]]},{"id":"daf1cda6.d334a","type":"subflow:1075d2f9.a8c68d","z":"309b2243.de97fe","name":"","x":560,"y":160,"wires":[["ff39f246.9cdab"]]},{"id":"d0416a72.7766b8","type":"change","z":"309b2243.de97fe","name":"CSV file name","rules":[{"t":"set","p":"filename","pt":"msg","to":"/Users/rjohns14/git/data/harper_wos_output.csv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["daf1cda6.d334a"]]},{"id":"ff39f246.9cdab","type":"splitter","z":"309b2243.de97fe","name":"","property":"payload","x":150,"y":340,"wires":[["26ba5c1c.120274","153c9e89.07b641","8a3238a6.81fc58","4ff10900.dc2b48"]]},{"id":"62290a79.eab704","type":"yaml","z":"3b8faccd.a280b4","property":"payload","name":"","x":430,"y":100,"wires":[["5cc73587.e6da6c"]]},{"id":"5cc73587.e6da6c","type":"function","z":"3b8faccd.a280b4","name":"SetMappingConfig","func":"msg.config = msg.payload;\nflow.set(\"config\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":120,"wires":[[]]},{"id":"37bf0d49.8a0eb2","type":"file in","z":"3b8faccd.a280b4","name":"Mapping file","filename":"","format":"utf8","chunk":false,"sendError":false,"x":250,"y":80,"wires":[["62290a79.eab704"]]},{"id":"12b7f088.ed42df","type":"subflow:3b8faccd.a280b4","z":"309b2243.de97fe","name":"","x":570,"y":80,"wires":[["d0416a72.7766b8"]]},{"id":"9c5573b6.f7e75","type":"change","z":"309b2243.de97fe","name":"Mapping file name","rules":[{"t":"set","p":"filename","pt":"msg","to":"projects/share-red-flows/harvest-flows/wos-workMapping.yaml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["12b7f088.ed42df"]]},{"id":"4ff10900.dc2b48","type":"function","z":"309b2243.de97fe","name":"GetResourceIdentifier","func":"config = msg.config;\nshareMapping = config.shareMapping;\n\nvar in_prop = shareMapping.resourceIdentifier;\nmsg.out_work_prop = \"resourceIdentifier\";\nmsg.in_work_prop = in_prop;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":460,"wires":[["87dc157a.9813f8"]]},{"id":"d1adcbf4.dd0708","type":"function","z":"309b2243.de97fe","name":"StraightPropertyMapping","func":"\nconfig = msg.config;\nshareMapping = config.shareMapping;\n\nin_work = msg.payload;\nin_work_prop = msg.in_work_prop;\nout_work_prop = msg.out_work_prop;\nif (in_work_prop && out_work_prop){\n    out_work = {};\n\n    //straight mapping of properties\n    out_work[out_work_prop] = [];\n    out_work[out_work_prop].push(in_work[in_work_prop]);\n}\n\nmsg.payload[out_work_prop] = out_work[out_work_prop];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["676d18d9.49fa28"]]},{"id":"8a3238a6.81fc58","type":"function","z":"309b2243.de97fe","name":"GetTitle","func":"config = msg.config;\nshareMapping = config.shareMapping;\n\nvar titleProp = shareMapping.title;\nmsg.out_work_prop = \"titles\";\nmsg.in_work_prop = titleProp;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":520,"wires":[["d1adcbf4.dd0708"]]},{"id":"4296fac3.b058c4","type":"change","z":"309b2243.de97fe","name":"","rules":[{"t":"set","p":"paths[\"resourceIdentifiers\"]","pt":"msg","to":"payload.resourceIdentifier","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":460,"wires":[["e5c5650d.2e5808"]]}]