harvest-flows/crossref-flow.json
[{"id":"9d15da4e.a324d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"627ba918.fbd268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b10f0617.a404f8","type":"http request","z":"9d15da4e.a324d8","name":"","method":"GET","ret":"txt","url":"https://www.biorxiv.org/search/limit_from%3A{{{payload.dateFrom}}}%20limit_to%3A{{{payload.dateTo}}}%20numresults%3A100%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard","tls":"","x":230,"y":100,"wires":[["5456a465.e9542c"]],"inputLabels":["dateFrom"]},{"id":"bf3163d3.04814","type":"inject","z":"9d15da4e.a324d8","name":"","topic":"","payload":"{\"dateFrom\":\"2018-06-12\",\"dateTo\":\"2018-06-12\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":100,"wires":[["b10f0617.a404f8"]]},{"id":"5456a465.e9542c","type":"html","z":"9d15da4e.a324d8","name":"results","property":"payload","outproperty":"payload","tag":".highwire-cite-linked-title","ret":"attr","as":"multi","x":374,"y":100,"wires":[["975dacb0.c1907"]]},{"id":"975dacb0.c1907","type":"http request","z":"9d15da4e.a324d8","name":"","method":"GET","ret":"obj","url":"https://www.biorxiv.org{{{payload.href}}}","tls":"","x":514,"y":100,"wires":[["17584560.41d68b","8c8aebc5.c7d488","3c4f6012.2eda7"]],"inputLabels":["dateFrom"]},{"id":"17584560.41d68b","type":"html","z":"9d15da4e.a324d8","name":"detail title","property":"payload","outproperty":"payload","tag":"#page-title","ret":"text","as":"multi","x":684,"y":180,"wires":[[]]},{"id":"8c8aebc5.c7d488","type":"html","z":"9d15da4e.a324d8","name":"detail abstract","property":"payload","outproperty":"payload","tag":".abstract > #p-2","ret":"text","as":"multi","x":704,"y":140,"wires":[[]]},{"id":"3c4f6012.2eda7","type":"html","z":"9d15da4e.a324d8","name":"detail authors","property":"payload","outproperty":"payload","tag":".highwire-citation-authors","ret":"text","as":"single","x":704,"y":100,"wires":[["47e4d9b4.30b418"]]},{"id":"47e4d9b4.30b418","type":"debug","z":"9d15da4e.a324d8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":886,"y":100,"wires":[],"inputLabels":["dateFrom"]},{"id":"56ae3ec.9fd67c","type":"template","z":"9d15da4e.a324d8","name":"BioArxive Mapper","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    authors: {{payload.authors}},\n    abstract: {{payload}},\n}","output":"str","x":469,"y":660,"wires":[[]]},{"id":"f4811132.b4e7b","type":"http request","z":"627ba918.fbd268","name":"Send Request to Harvest Records","method":"GET","ret":"obj","url":"","tls":"","x":500,"y":700,"wires":[["1fdb807b.4e808"]]},{"id":"6f4e8a2b.50a194","type":"change","z":"627ba918.fbd268","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":700,"wires":[["f4811132.b4e7b"]]},{"id":"1fdb807b.4e808","type":"function","z":"627ba918.fbd268","name":"Select Items","func":"items = msg.payload.message.items;\nmsg.payload = items;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["24bcef28.0f7c1"]]},{"id":"b0d5e018.1747f","type":"inject","z":"627ba918.fbd268","name":"","topic":"","payload":"CrossRef Harvest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["90f48300.8f93b"]]},{"id":"24bcef28.0f7c1","type":"splitter","z":"627ba918.fbd268","name":"","property":"payload","x":950,"y":700,"wires":[["9c027bd7.a3b2f8","16347465.263e8c","63024f88.0bce6"]]},{"id":"90f48300.8f93b","type":"file in","z":"627ba918.fbd268","name":"crossref-workMapping.yaml","filename":"/Users/rjohns14/git/api-schemas/schemas/mappings/crossref-workMapping.yaml","format":"utf8","chunk":false,"sendError":false,"x":400,"y":600,"wires":[["f8b39638.612fa8"]]},{"id":"f8b39638.612fa8","type":"yaml","z":"627ba918.fbd268","property":"payload","name":"crossref","x":640,"y":600,"wires":[["7ff78a54.bfb394"]]},{"id":"7ff78a54.bfb394","type":"function","z":"627ba918.fbd268","name":"SetMappingConfig","func":"global.set(\"shareMapping\",msg.payload.shareMapping);\n//shareMapping = msg.payload.shareMapping || false;\n//context.smoke = context.smoke || false;\n//flow.shareMapping = shareMapping;\n\n//if (shareMapping) {\n//  flow.mapping = shareMapping;\n//  return msg;\n//} //else if (msg.topic === 'tempSensor') {\n  //context.temp = msg.payload;\n//}\nconsole.log(\"Using shareMapping config: \"+global.get(\"shareMapping\"));\nreturn msg;\n//return null;\n//config = msg.payload;\n//global.set(\"shareMapping.givenName\",config.givenName);\n//global.set(\"shareMapping.familyName\",config.familyName);\n//global.set(\"title\",config.title);\n//msg.payload = global.get(\"title\");\n//return msg;","outputs":1,"noerr":0,"x":850,"y":600,"wires":[["6f4e8a2b.50a194","902a5bda.f3bf88"]]},{"id":"9c027bd7.a3b2f8","type":"function","z":"627ba918.fbd268","name":"GetCreators","func":"\nshareMapping = global.get(\"shareMapping\");\n\nin_work = msg.payload;\nout_work = {};\nout_work.creators = [];\nvar given = shareMapping.givenName;\nvar family = shareMapping.familyName;\n//need to add logic to handle more than one split\nvar givenPropArr = given.split(\".\");\nvar familyPropArr = family.split(\".\");\nif (givenPropArr.length>0){\n    in_creators = in_work[givenPropArr[0]];\n    for (var i = 0; i < in_creators.length; i++){\n        in_creator = in_creators[i];\n        creator = {};\n        creator.givenName = in_creator[givenPropArr[1]];\n        creator.familyName = in_creator[familyPropArr[1]];\n        out_work.creators.push(creator);\n    }\n}\n\nmsg.payload = out_work;\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["fa2917cd.9954f8"]]},{"id":"63024f88.0bce6","type":"function","z":"627ba918.fbd268","name":"GetTitles","func":"shareMapping = global.get(\"shareMapping\");\n\nin_work = msg.payload;\nout_work = {};\nout_work.titles = [];\n\nvar titleProp = shareMapping.title;\n//need to add logic to handle more than one split\n//var titlePropArr = titleProp.split(\".\");\n//if (titlePropArr.length>0){\n    in_titles = in_work[titleProp];\n    //need to handle if not an array\n    for (var i = 0; i < in_titles.length; i++){\n        in_title = in_titles[i];\n        title = {};\n        title = in_title;\n        out_work.titles.push(title);\n    }\n//}\n\nmsg.payload = out_work;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["9fa5015.946ca"]]},{"id":"c06ea412.04f2f8","type":"join","z":"627ba918.fbd268","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":830,"y":1000,"wires":[[]]},{"id":"902a5bda.f3bf88","type":"debug","z":"627ba918.fbd268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":580,"wires":[]},{"id":"16347465.263e8c","type":"debug","z":"627ba918.fbd268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":660,"wires":[]},{"id":"fa2917cd.9954f8","type":"debug","z":"627ba918.fbd268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":800,"wires":[]},{"id":"9fa5015.946ca","type":"debug","z":"627ba918.fbd268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":880,"wires":[]}]