harvest-flows/crossref-flow.json
[{"id":"b24a0bc5.379528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"249a0284.c9187e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ceab12aa.a66cf","type":"http request","z":"b24a0bc5.379528","name":"","method":"GET","ret":"txt","url":"https://www.biorxiv.org/search/limit_from%3A{{{payload.dateFrom}}}%20limit_to%3A{{{payload.dateTo}}}%20numresults%3A100%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard","tls":"","x":230,"y":100,"wires":[["8b833fa6.039c1"]],"inputLabels":["dateFrom"]},{"id":"99f9d041.a4049","type":"inject","z":"b24a0bc5.379528","name":"","topic":"","payload":"{\"dateFrom\":\"2018-06-12\",\"dateTo\":\"2018-06-12\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":100,"wires":[["ceab12aa.a66cf"]]},{"id":"8b833fa6.039c1","type":"html","z":"b24a0bc5.379528","name":"results","property":"payload","outproperty":"payload","tag":".highwire-cite-linked-title","ret":"attr","as":"multi","x":374,"y":100,"wires":[["c91f0eff.2e4e9"]]},{"id":"c91f0eff.2e4e9","type":"http request","z":"b24a0bc5.379528","name":"","method":"GET","ret":"obj","url":"https://www.biorxiv.org{{{payload.href}}}","tls":"","x":514,"y":100,"wires":[["9894a881.206988","aa4eb551.ec3bc8","e74f5441.baeb98"]],"inputLabels":["dateFrom"]},{"id":"9894a881.206988","type":"html","z":"b24a0bc5.379528","name":"detail title","property":"payload","outproperty":"payload","tag":"#page-title","ret":"text","as":"multi","x":684,"y":180,"wires":[[]]},{"id":"aa4eb551.ec3bc8","type":"html","z":"b24a0bc5.379528","name":"detail abstract","property":"payload","outproperty":"payload","tag":".abstract > #p-2","ret":"text","as":"multi","x":704,"y":140,"wires":[[]]},{"id":"e74f5441.baeb98","type":"html","z":"b24a0bc5.379528","name":"detail authors","property":"payload","outproperty":"payload","tag":".highwire-citation-authors","ret":"text","as":"single","x":704,"y":100,"wires":[["f1028fe6.5eab2"]]},{"id":"f1028fe6.5eab2","type":"debug","z":"b24a0bc5.379528","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":886,"y":100,"wires":[],"inputLabels":["dateFrom"]},{"id":"f53456b1.4cc1b8","type":"template","z":"b24a0bc5.379528","name":"BioArxive Mapper","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    authors: {{payload.authors}},\n    abstract: {{payload}},\n}","output":"str","x":469,"y":660,"wires":[[]]},{"id":"aae3b464.0310b8","type":"inject","z":"249a0284.c9187e","name":"DataCite Url","topic":"","payload":" http://oai.datacite.org/oai?verb=ListIdentifiers&metadataPrefix=oai_dc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["396c2ce3.648c94"]]},{"id":"b95e6034.41c6f","type":"http request","z":"249a0284.c9187e","name":"OAI Harvest Records","method":"GET","ret":"obj","url":"","tls":"","x":540,"y":360,"wires":[["a5bbfaf1.38ad98"]]},{"id":"a5bbfaf1.38ad98","type":"debug","z":"249a0284.c9187e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":790,"y":380,"wires":[]},{"id":"396c2ce3.648c94","type":"change","z":"249a0284.c9187e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["b95e6034.41c6f"]]},{"id":"a1761f5c.60955","type":"inject","z":"249a0284.c9187e","name":"CrossRef Url","topic":"","payload":"https://api.crossref.org/v1/works","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":980,"wires":[[]]},{"id":"d8bca24f.e4bb","type":"http request","z":"249a0284.c9187e","name":"Send Request to Harvest Records","method":"GET","ret":"obj","url":"","tls":"","x":500,"y":700,"wires":[["26d20c1c.a16b34"]]},{"id":"9d0272b1.833c5","type":"change","z":"249a0284.c9187e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":700,"wires":[["d8bca24f.e4bb"]]},{"id":"26d20c1c.a16b34","type":"function","z":"249a0284.c9187e","name":"Select Items","func":"items = msg.payload.message.items;\nmsg.payload = items;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["fa340bc5.825db8"]]},{"id":"87f1f691.6eccc8","type":"debug","z":"249a0284.c9187e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1390,"y":760,"wires":[]},{"id":"fd450a43.508248","type":"inject","z":"249a0284.c9187e","name":"","topic":"","payload":"CrossRef Harvest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["2e4b58c6.2867a8"]]},{"id":"93983f6e.fab6c","type":"debug","z":"249a0284.c9187e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":280,"wires":[]},{"id":"e6944e8d.bcf5c","type":"split","z":"249a0284.c9187e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":420,"y":220,"wires":[[]]},{"id":"fa340bc5.825db8","type":"splitter","z":"249a0284.c9187e","name":"","property":"payload","x":950,"y":700,"wires":[["fbd23f9a.b484d"]]},{"id":"32093b23.82d2e4","type":"json","z":"249a0284.c9187e","name":"","property":"payload","action":"","pretty":true,"x":1370,"y":1060,"wires":[[]]},{"id":"d780ca2e.c8d938","type":"function","z":"249a0284.c9187e","name":"Transform name","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":480,"wires":[[]]},{"id":"eb9f713.cc9e89","type":"function","z":"249a0284.c9187e","name":"Transform Creator","func":"givenName\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":420,"wires":[[]]},{"id":"e333e05d.165ab","type":"function","z":"249a0284.c9187e","name":"Transform Subject","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":360,"wires":[[]]},{"id":"523db206.26613c","type":"function","z":"249a0284.c9187e","name":"Transform Title","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[[]]},{"id":"2e4b58c6.2867a8","type":"file in","z":"249a0284.c9187e","name":"crossref-workMapping.yaml","filename":"/Users/rjohns14/git/api-schemas/schemas/mappings/crossref-workMapping.yaml","format":"utf8","chunk":false,"sendError":false,"x":400,"y":600,"wires":[["7f71af4a.f5ab6"]]},{"id":"e21e23d1.b46dc","type":"debug","z":"249a0284.c9187e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":400,"wires":[]},{"id":"7f71af4a.f5ab6","type":"yaml","z":"249a0284.c9187e","property":"payload","name":"crossref","x":640,"y":600,"wires":[["90bafc59.25099"]]},{"id":"90bafc59.25099","type":"function","z":"249a0284.c9187e","name":"SetMappingConfig","func":"global.set(\"shareMapping\",msg.payload.shareMapping);\n//shareMapping = msg.payload.shareMapping || false;\n//context.smoke = context.smoke || false;\n//flow.shareMapping = shareMapping;\n\n//if (shareMapping) {\n//  flow.mapping = shareMapping;\n//  return msg;\n//} //else if (msg.topic === 'tempSensor') {\n  //context.temp = msg.payload;\n//}\nreturn msg;\n//return null;\n//config = msg.payload;\n//global.set(\"shareMapping.givenName\",config.givenName);\n//global.set(\"shareMapping.familyName\",config.familyName);\n//global.set(\"title\",config.title);\n//msg.payload = global.get(\"title\");\n//return msg;","outputs":1,"noerr":0,"x":850,"y":600,"wires":[["9d0272b1.833c5"]]},{"id":"fa7c68e9.df8458","type":"function","z":"249a0284.c9187e","name":"GetCreators","func":"\nshareMapping = global.get(\"shareMapping\");\n\nin_work = msg.payload;\nout_work = {};\nout_work.creators = [];\nin_creators = in_work.author;\nfor (var i = 0; i < in_creators.length; i++){\n    in_creator = in_creators[i];\n    creator = {};\n    creator.givenName = in_creator.given;\n    creator.familyName = in_creator.family;\n    out_work.creators.push(creator);\n}\n\nmsg.payload = out_work;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":640,"wires":[[]]},{"id":"fbd23f9a.b484d","type":"function","z":"249a0284.c9187e","name":"GetTitles","func":"shareMapping = global.get(\"shareMapping\");\n\nin_work = msg.payload;\nout_work = {};\nout_work.titles = [];\nin_titles = in_work.title;\nfor (var i = 0; i < in_titles.length; i++){\n    in_title = in_titles[i];\n    title = {};\n    title = in_title;\n    out_work.titles.push(title);\n}\n\nmsg.payload = out_work;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":740,"wires":[["87f1f691.6eccc8"]]},{"id":"6c82910b.8c0e3","type":"join","z":"249a0284.c9187e","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1260,"y":740,"wires":[[]]}]